{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}



{% block content %}

    <section class="receitas">

        {% for recipe in recipes %}

            <div class="receita">
                <div class="receita-imagem">
                    <img src="{{recipe.file.src}}" alt="">
                </div>

                <div class="receita-titulo">
                    <p>{{ recipe.title }}</p>
                </div>

                <div class="receita-autor">
                    <p>{{ recipe.name }}</p>
                </div>

                <input id="input" type="hidden" name="id" value="{{recipe.id}}" >
            </div>

        {% endfor %}



    </section>
        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}>        
        </div>

    <script src="/scripts.js"></script>    

{% endblock %}