
    <button class="button" href="">Salvar Chef</button>
            </span>           
        </span>   
</div>


        <div class="edit">
            <p class="edit-titulo">Nome</p>
            <input 
                type="text" 
                name="name"
                value="{{chef.name}}"

            >    
        </div>        

    <div class="imagemedit">     
        <div class="edit">
            <p class="edit-titulo">Avatar</p>
            <div class="chef-photos">
                
                <div id="photos-preview">
                    {% if files %}
                        {% for image in files %}
                            <div class="photo" id="{{image.id}}">
                                <img src="{{image.src}}" alt="{{image.name}}">
                                <i class="material-icons"
                                    onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="removed_files">
                    {% endif %}
                </div>

                <div id="photos-upload">
                    <input 
                        id="photos-input"
                        type="file" 
                        name="photos"
                        multiple
                        accept="image/*"
                        onchange="PhotosUpload.handleFileInput(event)"
                        value="{{chef.avatar_url}}"
                    > 
                    <p>Enviar Avatar</p>
                </div>                 
            </div>
            
        </div>
    </div>

        