    <header class="header-user">        
        <nav class="menu">
            <a href="/"><img src="/logo.png" alt="logo"></a>
            <a href="/sobre"> Sobre </a>
            <a href="/receitas"> Receitas </a> 
            <a href="/chefs"> Chefs </a> 
        </nav>       
        
        <form class="search-recipe" action="/search">
            <input type="text"
                   name="filter"
                   placeholder="Buscar uma Receita"
                   value={{filter}}>
            <button type="submit" class="button"> BUSCAR</button>
        </form> 
    </header>